body {
    margin: 0;
    padding: 0;    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    justify-content: center;
    background: linear-gradient(70deg, #000086 0%, #000000 100%);
    font-family: Arial, Helvetica, sans-serif;
    padding: 100px;
    min-height: 100vh;
    box-shadow: 0px 3px 10px #000000;
    border: solid 5px #000000;

}

.titulo {
    top: 10px;
    color: #ffffff;
    text-align: center;   
    text-transform: capitalize;
    text-shadow: 0px 4px 10px #6a6868;
    font-weight: bolder;
}

.general {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-style: italic;
    text-shadow: 0px 3px 10px #000000;
    font-weight: bold;
}

.final{
    color: #f0f8ff;
    font-size: larger;
    text-align: left;
    text-transform: unset;
    font: caption;
}

.DatoFigura{
    border-radius: 30px;
    border: none;
    text-align: center;
    margin: 10px;
    background: linear-gradient(45deg, #524b4b, #d8cece);
    padding: 10px 10px;
    box-shadow: inset 0px 3px 5px #342d2d;
}

.DatoFigura::placeholder{
    color: #2a2222;
}

.principales{
    background: linear-gradient(45deg, #26c61a, #184613);
    box-shadow: 0px 4px 5px #1a8412;
}

.secundarios{
    background: linear-gradient(50deg, #b43232, #bd0202);
    box-shadow: 0px 4px 5px #631818;
}


#calculadora {
    font-size: x-small;
    margin: 10px;
    text-shadow: 0px 3px 5px #000086;
}

.explicacion {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #f0ffff;
    max-width: 500px;
    text-shadow: 0px 3px 5px #000000;

}

#media {
    align-self: center;
    margin: 10px;
    box-shadow: 0px 0px 10px #000086;
    border-radius: 10px;
}

button:hover:not(#portafolio) {
    transform: scale(1.05);
    transition: 0.2s;
    cursor: pointer;
}

button:active:not(#portafolio) {
    transform: scale(0.8);
    cursor: pointer;
}

a {
    text-decoration: none;
}

button {
    border-radius: 10px;
    font-size: medium;
    text-transform: capitalize;
    text-align: center;
    border: none;
    color: #ffffff;
    border-width: 3px;
    margin: 5px;
    padding: 10px 10px;
}

#portafolio {
    position: fixed;
    bottom: 20px;
    right: 5px;
    color: #f0ffff;
    background-color: #000086;
    font-size: 10px;
    opacity: 0.6;
    border: double;
}

#portafolio:hover {
    opacity: 1;
    transform: scale(1.05);
    transition: 0.2s;
    cursor:help;
}

nav{
    display: flex;
    position: fixed;
    justify-content: center;
    min-width: 98%;
    top: 0;
    padding: 1px 0;
    background-color: #08085c;
    border-radius: 0px 0px 10px 10px;
    border:  solid 5px #000000;
    border-bottom: 4px solid #000000;
    border-top: none;

}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
}

nav li {
    position: relative;
    list-style: none;
}

nav a {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bold;
    transition: background 3s;
    color: #f0f8ff;
    font-size: 14px;
    margin: 10px;
    background: linear-gradient(45deg, #0e0e0e,#776565);
    border-radius: 20px;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 250px;
    z-index: 1000;
}

.submenu li {
    width: 100%;
}

a:hover:not(#portafolio) {
    transform: scale(1.05);
    cursor: pointer;
}

a:active:not(#portafolio) {
    transform: scale(0.8);
    cursor: pointer;
}