.container {
    background: linear-gradient(to bottom, black, rgb(0, 0, 134));
    font-family: Arial, Helvetica, sans-serif;
    margin: -8px;
    padding: 85px;

}

.titulo {
    color: white;
    text-align: center;   
    text-transform: capitalize;
}

.general {
    text-align: center;
    color: aliceblue;
    font-style: italic;
}

.final{
    color: aliceblue;
    font-size: larger;
    text-align: left;
}

.DatoFigura{
    border-radius: 20px;
    border-color: black;
    border-bottom: 10px;
    border-width: 3px;
    text-align: center;
    padding: auto;
    width: fit-content;
}

.principales{
    background-color: green;
    border-radius: 10px;
    border-style: double;
    padding: auto;
    width: fit-content;
    font-size: medium;
    text-transform: capitalize;
    text-align: center;
    border-color: white;
    color: white;
    border-width: 3px;
}

.secundarios{
    background-color: red;
    border-radius: 10px;
    border-style: double;
    padding: auto;
    width: fit-content;
    font-size: medium;
    text-transform: capitalize;
    text-align: center;
    border-color: white;
    color: white;
    border-width: 3px;
}

#figura{
    border-radius: 20px;
    background-color: gray;
    color: black;
    border-color: black;
    border-width: 3px;
    text-align: center;
    text-transform: uppercase;
    font-size: smaller;
}

#calculadora {
    font-size: x-small;
}

.explicacion {
    image-rendering:optimizeQuality;
    text-align: left;
    color: azure;
}

button:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

button:active {
    transform: scale(0.8);
}

select:hover{
    transform: scale(1.05);
}
